<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Welcome to web chess arena!{% endblock %}</title>
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.jpg') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block head %}{% endblock %}
	</head>

	<body>
		<div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 9fr; width: 100%; height: 100%;">
			<div style="grid-column: 1; grid-row: 1; display: grid; grid-template-columns: 1fr 1fr 14fr 4fr; grid-template-rows: 1fr; width: 100%; height: 100%;">
				<div style="grid-column: 1; grid-row: 1;">
					<a href="https://github.com/dev-jwel/JBNU-SDP"><img src="{{ url_for('static', filename='img/GitHub.png') }}"></a>
				</div>

				<div style="grid-column: 2; grid-row: 1;">
					<button type="button" style="width: 100%; height: 100%;" onclick="location.href='/'"><p>home</p></button>
				</div>

				<div style="text-align: center; grid-column: 3; grid-row: 1;">
					<p>{{ message }}</p>
				</div>

				<div style="grid-column: 4; grid-row: 1;">
{% if uid != -1 %}
					<button type="button" style="width: 100%; height: 100%;" onclick="location.href='logout'"><p>logout</p></button>
{% endif %}
				</div>
			</div>

{% block body %}
			<div style="grid-column: 1; grid-row: 2; display: grid; grid-template-columns: 1fr; grid-template-rows: 2fr 7fr 2fr 7fr 2fr; width: 100%; height: 100%;">
				<div style="grid-column: 1; grid-row: 1;"></div>
				<div style="text-align: center; grid-column: 1; grid-row: 2;">
	{% if uid != -1 %}
					<button type="button" style="width: 75%; height: 100%;" onclick="location.href='history-page'"><p>history</p></button>
	{% else %}
					<button type="button" style="width: 75%; height: 100%;" onclick="location.href='login'"><p>login</p></button>
	{% endif %}
				</div>
				<div style="grid-column: 1; grid-row: 3;"></div>
				<div style="text-align: center; grid-column: 1; grid-row: 4;">
					<button type="button" style="width: 75%; height: 100%;" onclick="location.href='play'"><p>play now</p></button>
				</div>
				<div style="grid-column: 1; grid-row: 5;"></div>
			</div>
{% endblock %}

		</div>
	</body>

</html>
