{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block body %}
	<form action="login" style="width: 100%; height: 100%;" method="POST">
		<div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 7fr 1fr 7fr 1fr 4fr; width: 100%; height: 100%;">
			<div style="text-align: center; grid-column: 1; grid-row: 1; display: grid; grid-template-columns: 1fr; grid-template-rows: 9fr 2fr 9fr; width: 100%; height: 100%;">
				<div style="text-align: center; grid-column: 1; grid-row: 1"><b style="font-size: 8em;">ID</b></div>
				<div style="text-align: center; grid-column: 1; grid-row: 2"></div>
				<div style="text-align: center; grid-column: 1; grid-row: 3">
					<input style="width: 100%; height: 100%; font-size: 5em" type="text" name="name" value="">
				</div>
			</div>

			<div style="grid-column: 1; grid-row: 2;"></div>

			<div style="text-align: center; grid-column: 1; grid-row: 3; display: grid; grid-template-columns: 1fr; grid-template-rows: 9fr 2fr 9fr; width: 100%; height: 100%;">
				<div style="text-align: center; grid-column: 1; grid-row: 1"><b style="font-size: 8em;">PW</b></div>
				<div style="text-align: center; grid-column: 1; grid-row: 2"></div>
				<div style="text-align: center; grid-column: 1; grid-row: 3">
					<input style="width: 100%; height: 100%; font-size: 5em" type="password" name="pw" value="">
				</div>
			</div>

			<div style="grid-column: 1; grid-row: 4;"></div>

			<div style="text-align: center; grid-column: 1; grid-row: 5; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr">
				<div style="grid-column: 1; grid-row: 1;">
					<button type="submit" style="width: 100%; height: 100%;" value="login"><p style="font-size: 5em;">login</p></button>
				</div>
				<div style="grid-column: 2; grid-row: 1;">
					<button type="button" style="width: 100%; height: 100%;" onclick="location.href='register'"><p style="font-size: 5em;">register</p></button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
