{% extends "index.html" %}

{% block title %}Play Chess Game{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block body %}
	<div class="play-pane">
		<div class="chess-board-pane">
			<div id="a8" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('a8')"><img></button>
			</div>
			<div id="b8" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('b8')"><img></button>
			</div>
			<div id="c8" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('c8')"><img></button>
			</div>
			<div id="d8" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('d8')"><img></button>
			</div>
			<div id="e8" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('e8')"><img></button>
			</div>
			<div id="f8" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('f8')"><img></button>
			</div>
			<div id="g8" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('g8')"><img></button>
			</div>
			<div id="h8" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('h8')"><img></button>
			</div>

			<div id="a7" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('a7')"><img></button>
			</div>
			<div id="b7" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('b7')"><img></button>
			</div>
			<div id="c7" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('c7')"><img></button>
			</div>
			<div id="d7" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('d7')"><img></button>
			</div>
			<div id="e7" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('e7')"><img></button>
			</div>
			<div id="f7" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('f7')"><img></button>
			</div>
			<div id="g7" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('g7')"><img></button>
			</div>
			<div id="h7" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('h7')"><img></button>
			</div>

			<div id="a6" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('a6')"><img></button>
			</div>
			<div id="b6" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('b6')"><img></button>
			</div>
			<div id="c6" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('c6')"><img></button>
			</div>
			<div id="d6" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('d6')"><img></button>
			</div>
			<div id="e6" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('e6')"><img></button>
			</div>
			<div id="f6" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('f6')"><img></button>
			</div>
			<div id="g6" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('g6')"><img></button>
			</div>
			<div id="h6" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('h6')"><img></button>
			</div>

			<div id="a5" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('a5')"><img></button>
			</div>
			<div id="b5" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('b5')"><img></button>
			</div>
			<div id="c5" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('c5')"><img></button>
			</div>
			<div id="d5" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('d5')"><img></button>
			</div>
			<div id="e5" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('e5')"><img></button>
			</div>
			<div id="f5" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('f5')"><img></button>
			</div>
			<div id="g5" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('g5')"><img></button>
			</div>
			<div id="h5" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('h5')"><img></button>
			</div>

			<div id="a4" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('a4')"><img></button>
			</div>
			<div id="b4" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('b4')"><img></button>
			</div>
			<div id="c4" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('c4')"><img></button>
			</div>
			<div id="d4" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('d4')"><img></button>
			</div>
			<div id="e4" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('e4')"><img></button>
			</div>
			<div id="f4" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('f4')"><img></button>
			</div>
			<div id="g4" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('g4')"><img></button>
			</div>
			<div id="h4" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('h4')"><img></button>
			</div>

			<div id="a3" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('a3')"><img></button>
			</div>
			<div id="b3" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('b3')"><img></button>
			</div>
			<div id="c3" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('c3')"><img></button>
			</div>
			<div id="d3" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('d3')"><img></button>
			</div>
			<div id="e3" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('e3')"><img></button>
			</div>
			<div id="f3" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('f3')"><img></button>
			</div>
			<div id="g3" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('g3')"><img></button>
			</div>
			<div id="h3" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('h3')"><img></button>
			</div>

			<div id="a2" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('a2')"><img></button>
			</div>
			<div id="b2" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('b2')"><img></button>
			</div>
			<div id="c2" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('c2')"><img></button>
			</div>
			<div id="d2" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('d2')"><img></button>
			</div>
			<div id="e2" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('e2')"><img></button>
			</div>
			<div id="f2" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('f2')"><img></button>
			</div>
			<div id="g2" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('g2')"><img></button>
			</div>
			<div id="h2" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('h2')"><img></button>
			</div>

			<div id="a1" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('a1')"><img></button>
			</div>
			<div id="b1" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('b1')"><img></button>
			</div>
			<div id="c1" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('c1')"><img></button>
			</div>
			<div id="d1" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('d1')"><img></button>
			</div>
			<div id="e1" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('e1')"><img></button>
			</div>
			<div id="f1" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('f1')"><img></button>
			</div>
			<div id="g1" class="piece-box">
				<button type="button" class="black-button" onclick="square_click_callback('g1')"><img></button>
			</div>
			<div id="h1" class="piece-box">
				<button type="button" class="white-button" onclick="square_click_callback('h1')"><img></button>
			</div>
		</div>

		<div class="control-pane">
			<div class="status-pane">
				<p id="status" style="font-size: 5em;">your turn</p>
			</div>
			<div class="mode-pane">
				<button type="button" style="width: 100%; height: 100%;" onclick="change_mode()">
					<p id="mode" style="font-size: 5em;">easy</p>
				</button>
			</div>
			<div class="hint-pane">
				<button type="button" style="width: 100%; height: 100%;" onclick="hint()">
					<p style="font-size: 5em;">hint</p>
				</button>
			</div>
			<div class="undo-pane">
				<button type="button" style="width: 100%; height: 100%;" onclick="undo()">
					<p style="font-size: 5em;">undo</p>
				</button>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/play.js') }}" type="module"></script>
	<script>window.onload = function () {initialze_game()}</script>
{% endblock %}
