.play-pane {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 7fr 3fr;
}

.chess-board-pane {
	height: 100%;
	grid-row: 1;
	grid-column: 1;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.chess-board-pane:after {
	padding-bottom: 100%;
}

.black-button {
	width: 100%;
	height: 100%;
	background-color: #eeeed2;
}

.white-button {
	width: 100%;
	height: 100%;
	background-color: #769656;
}
