.black-piece-box {
	background-color: #00000080;
}

.white-piece-box {
	background-color: #FFFFFF80;
}

.btn {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.img {
	max-width: 100% !important;
	aspect-ratio: 1 / 1 !important;
}
