.control-pane {
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
}

.turn-pane {
	grid-row: 1;
	grid-column: 1;
	text-align: center;
}

.prev-pane {
	grid-row: 2;
	grid-column: 1;
}

.next-pane {
	grid-row: 3;
	grid-column: 1;
}
