body {
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.option-color {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
